body {
  display: flex;
  align-items: center;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-blue {
  background-color: #29B6F6;
}

.bg-pink {
  background-color: #EC407A;
}

.bg-orange {
  background-color: #FF5722;
}

.bg-teal {
  background-color: #4DB6AC;
}

.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 414px;
  min-width: 300px;
  height: auto;
  margin: 8px;
  color: white;
}

.app__primary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: inherit;
  height: 300px;
  padding: 24px;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.32);
}

.app__primary__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app__primary__top__city {
  font-size: 28px;
  text-align: right;
  height: auto;
}

.app__primary__top__temp {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: auto;
}

.current-temp {
  font-size: 48px;
  cursor: pointer;
}

.highlow-temp {
  align-items: center;
}

.low-temp {
  font-size: 12px;
}

.app__primary__icon {
  justify-content: center;
  margin: auto;
  width: 270px;
  height: auto;
}

.app__primary__summary {
  margin-top: 16px;
  text-align: center;
}

.app__secondary {
  display: grid;
  grid-template-columns: [first] 20% [second] 25% [third] 55%;
  align-items: center;
  justify-items: center;
  text-align: center;
  height: auto;
  margin-top: 16px;
  padding: 24px;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.32);
}

.icon--secondary {
  width: 100%;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}

a:hover {
  text-decoration: underline;
}

a:visited {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}

footer {
  color: rgba(0, 0, 0, 0.8);
  margin-top: 16px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 0.75em
}
