body {
  font-family: 'Roboto', sans-serif;
  background: url(images/rain1600.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:white;
}


a, a:active, a:hover {
  text-decoration: none;
  color: white;
}


.weather-display {
  /*background-color: rgba(52,133,186, 1);*/
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3485ba+0,5494c9+100,207cca+100,2989d8+100 */
  background: rgb(52, 133, 186);
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(52, 133, 186, 1) 0%, rgba(84, 148, 201, 1) 100%, rgba(32, 124, 202, 1) 100%, rgba(41, 137, 216, 1) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(52, 133, 186, 1) 0%, rgba(84, 148, 201, 1) 100%, rgba(32, 124, 202, 1) 100%, rgba(41, 137, 216, 1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(52, 133, 186, 1) 0%, rgba(84, 148, 201, 1) 100%, rgba(32, 124, 202, 1) 100%, rgba(41, 137, 216, 1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3485ba', endColorstr='#2989d8', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  margin-top: 4rem;
  padding: 2rem 3rem 2rem 3rem;
  border-radius:6px;
}

.shadow {
  -webkit-box-shadow: 0 10px 40px 0 #191919;
  -moz-box-shadow: 0 10px 40px 0 #191919;
  box-shadow: 0 10px 40px 0 #191919;
}

.top {
  margin-bottom: 2rem;
}

.top-right {
  padding-right:0;
}

.title {
  color: white;
  font-size: 2rem;
  font-weight: 300;
}

.fa-umbrella {
  color: white;
  margin-right: 1rem;
}

.fa-calendar {
  margin-right: .5rem;
}

.fa-search-plus {
  margin-right: .5rem;
}

.temp {
  font-size: 7rem;
  color:white;
  font-weight: 800;
  margin-left: auto;
  margin-right: auto;
}

.accent {
  color: #9cdeff;
}
.msg {
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.05);
}

.temp-msg {
  margin-left: auto;
  margin-right:auto;
  margin-bottom:3rem;
  font-size:2rem;
  font-weight:300;
}

.temp-scale-f {
  font-size: 2rem;
  font-weight: 500;
  margin-left: auto;
  margin-right: auto;
}

.temp-scale-c {
  font-size: 2rem;
  font-weight: 500;
  margin-left: auto;
  margin-right: auto;
}

.hide {
  display:none;
}

.cursor {
  cursor:pointer;
}

.details {
  font-size:1.5rem;
  font-weight: 400;
}

.bottom {
  margin-top:1rem;
}

.divider-right {
  border-right: 1.5px solid rgba(255, 255, 255, 0.05);
}
